



// Header colors:
$nav-bg: linear-gradient( 90deg, #5f370e 0%, rgba(151, 90, 22, 0.81) 52.85%, 
rgba(101, 43, 25, 0.81) 99.48%);
$yellow-500: #8b6712;
$yellow-400: #79622275;
$brown-400: #7e5232;

// Presentation colors
$content-bg: hsla(0, 0%, 77%, 0.479);
$title: #441d11;
$title-line: #2c130b;

$yellow-950: #f8d77c;
$yellow-900: #FFCE45;
$yellow-600: #c49e35;
$yellow-200: #3f3311;

