@use "./colors";

.btnReservation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: colors.$light-orange;
  padding: 1.625rem 2rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &__icon {
    width: 25px;
    height: 25px;
    color: black;

    @media (max-width: 810px) {
      width: 20px;
      height: 20px;
    }
  }
  
  &__text {
    color: white;
  }

  &:hover {
    background-color: colors.$orange-brown;
  }
}