@use "./colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html {
//   @media (max-width: 768px) {
//     font-size: 93.75%; //15 px
//   }

//   @media (max-width: 425px) {
//     font-size: 87.5%; // 14px
//   }
// }

.heading-1 {
  font-size: 2.625rem; // 42px
  text-align: center;

  @media (max-width: 810px) {
    font-size: 2rem;
  }

  @media (max-width: 600px) {
    font-size: 1.7rem;
  }
}

.heading-2 {
  font-size: 2rem; // 32px

  @media (max-width: 810px) {
    font-size: 1.6rem;
  }

  @media (max-width: 600px) {
    font-size: 1.4rem;
  }
}

.heading-3 {
  font-size: 1.5rem; // 24px
  
  @media (max-width: 810px) {
    font-size: 1.2rem;
  }

  // @media (max-width: 600px) {
  //   font-size: 1.1rem;
  // }
}

.marging-top-responsive {
  margin: 3rem auto 0; //48px

  @media (max-width: 600px) {
    margin: 2rem auto 0;
  }
}

.title {
  font-size: 1.25rem; // 20px

  @media (max-width: 810px) {
    font-size: 1rem;
  }
}

.link-font {
  font-size: 1.125rem; // 18px

  @media (max-width: 810px) {
    font-size: 1rem;
  }
}

.caption {
  font-size: 0.8125rem; // 13px
}

.bold {
  font-weight: bold;
}

.extra-bold {
  font-weight: bolder;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

p {
  font-size: 1rem;
}

// These styles overwrite the ones that have inside the Swiper package

.mySwiper {
  height: 31.25rem;
}

.swiper {
  max-width: 1440px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;  
  object-fit: contain;
}

.swiper-button-next, .swiper-button-prev {
  color: colors.$white;
}
.swiper-pagination-bullet {
  background: rgba(255, 255, 255);
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.322);
}

.swiper-pagination-bullet-active {
  background: #fff;
}