@use "./colors";

.location {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &--card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem 4rem;
    text-align: center;
    background-color: colors.$yellow-950;
    color: white;

    img {
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

}