@use "./colors";

.presentation {
  text-align: center;

  &__title {   
    margin-top: 2.375rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
  }
}

.slide {
  height: 31.25rem;
  width: 100%;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.card {
  background-color: rgba(74, 65, 60, 0.9);
  color: white;
  max-width: 28.125rem;
  margin: 0 1rem;
  padding: 1rem 1rem 2rem;
  border-radius: 25px;

  h2 {
    margin-bottom: 1.875rem;
  }
}

.mySwiper {
  height: 31.25rem;
}

.first-slide {
  background-image: url("../assets/presentation/presentation1.jpg");
}

.second-slide {
  background-image: url("../assets/presentation/presentation2.jpg");
}

.third-slide {
  background-image: url("../assets/presentation/presentation3.jpg");
}
